Repository arirubinstein/agoric-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @warner, @dckc, @Chris-Hibbert, @FUDCo, @michaelfig, @kriskowal, @erights, @mhofman, @JimLarson, @turadg, @samsiegart

.github/CODEOWNERS:

# Default code owners when not specified.
# We prefer to explicitly specify owners for all subdirectories.
*                                @warner @dckc @Chris-Hibbert @FUDCo @michaelfig

/*                               @kriskowal @michaelfig @erights
/.github/                        @kriskowal @michaelfig @erights
/docker/                         @kriskowal @michaelfig @erights
/patches/                        @kriskowal @michaelfig @erights
/scripts/                        @kriskowal @michaelfig @erights
/yarn.lock                       @mhofman

# Golang @parts @of @the @repo.
/go.*                            @JimLarson
/golang/                         @JimLarson

# Explicit @owners @for @our @packages
/packages/ERTP/                  @erights @Chris-Hibbert
/packages/SwingSet/              @warner @FUDCo
/packages/access-token/          @kriskowal @michaelfig
/packages/agoric-cli/            @kriskowal @michaelfig
/packages/assert/                @kriskowal @turadg @michaelfig @erights
/packages/cosmic-swingset/       @michaelfig
/packages/deploy-script-support/ @michaelfig
/packages/deployment/            @michaelfig
/packages/eslint-config/         @kriskowal @michaelfig @erights @turadg @mhofman
/packages/governance/            @Chris-Hibbert
/packages/import-manager/        @michaelfig
/packages/notifier/              @kriskowal @turadg @michaelfig @erights
/packages/pegasus/               @michaelfig
/packages/run-protocol           @Chris-Hibbert @turadg
/packages/same-structure/        @kriskowal @turadg @michaelfig @erights
/packages/sharing-service/       @michaelfig @Chris-Hibbert
/packages/solo/                  @kriskowal @michaelfig
/packages/sparse-ints/           @kriskowal @turadg @michaelfig
/packages/spawner/               @michaelfig
/packages/stat-logger/           @warner @FUDCo
/packages/store/                 @warner @FUDCo @erights
/packages/swing-store/           @warner @FUDCo
/packages/swingset-runner/       @FUDCo
/packages/tame-metering/         @kriskowal @michaelfig
/packages/telemetry              @kriskowal @michaelfig @erights
/packages/ui-components/         @michaelfig @samsiegart  @turadg
/packages/vats/                  @michaelfig
/packages/wallet/                @michaelfig @samsiegart
/packages/wallet-connection/     @michaelfig @samsiegart
/packages/xsnap/                 @warner @dckc @kriskowal
/packages/zoe                    @erights @Chris-Hibbert

working types
  packages/ERTP/globals.d.ts
  packages/deploy-script-support/globals.d.ts
  packages/pegasus/globals.d.ts
  packages/run-protocol/globals.d.ts
  packages/vat-data/package.json
  packages/vat-data/src/index.js
  packages/vat-data/src/index.test-d.ts
  packages/vat-data/src/types.d.ts
  packages/vat-data/tsconfig.json
  packages/vats/globals.d.ts
Owners: @erights, @Chris-Hibbert, @michaelfig, @turadg, @warner, @dckc, @FUDCo

stop exporting VatData from swingset-vat package so there's one package to get it
  packages/SwingSet/src/index.js
  packages/zoe/package.json
  packages/zoe/test/unitTests/test-makeKind.js
  packages/zoe/test/unitTests/test-zoe-env.js
Owners: @warner, @FUDCo, @erights, @Chris-Hibbert

feat(docker): publish more than one architecture
  .github/workflows/docker.yml
Owners: @kriskowal, @michaelfig, @erights

testing fixes
  .github/workflows/test-all-packages.yml
  packages/SwingSet/test/test-vat-env.js
  packages/SwingSet/tools/prepare-test-env-ava.js
  packages/vat-data/package.json
  packages/zoe/test/unitTests/test-makeKind.js
  packages/zoe/test/unitTests/test-zoe-env.js
  packages/zoe/tools/prepare-test-env-ava.js
Owners: @kriskowal, @michaelfig, @erights, @warner, @FUDCo, @dckc, @Chris-Hibbert

test
  .github/workflows/docker.yml
Owners: @kriskowal, @michaelfig, @erights

more
  .github/workflows/after-merge.yml
  .github/workflows/deployment-test.yml
  .github/workflows/docker.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/integration.yml
  .github/workflows/proto.yml
  .github/workflows/test-all-packages.yml
  .github/workflows/test-dapp-card-store.yml
  .github/workflows/test-dapp-fungible-faucet.yml
  .github/workflows/test-dapp-oracle.yml
  .github/workflows/test-dapp-otc.yml
  .github/workflows/test-dapp-pegasus.yml
  .github/workflows/test-dapp-simple-exchange.yml
  .github/workflows/test-dapp-treasury.yml
  .github/workflows/test-documentation.yml
  .github/workflows/test-golang.yml
Owners: @kriskowal, @michaelfig, @erights

Update docker.yml
  .github/workflows/docker.yml
Owners: @kriskowal, @michaelfig, @erights

Update docker.yml
  .github/workflows/docker.yml
Owners: @kriskowal, @michaelfig, @erights
